{% extends 'base.html' %}
{% block main %}
  {% if messages %}
    {% for message in messages %}
      <div class='card-panel  {{ message.tags }}'>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class='row'>
    <div class='col s12 m12 l12 app'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title black-text'>
            <h4 class='center'>
              {{ object }}
              Data: {% now 'd/m/Y'%}
              <a class='right btn-floating btn-large waves-effect waves-light green modal-trigger' href='#ficha_new'>
                <i class='fa fa-plus'></i>
              </a>
            </h4>
          </span>
          <div class='row'>
            <table class='hoverable responsive-table'>
              <thead>
                <tr>
                  <th data-field='n_ficha'>
                    Ficha
                  </th>
                  <th data-field='crianca'>
                    Nome da Criança
                  </th>
                  <th data-field='responsavel'>
                    Responsável
                  </th>
                  <th data-field='telefone'>
                    Telefone
                  </th>
                  <th data-field='ativo'>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
              {% for ficha in list_fichas %}
                <tr>
                  <td>
                    {{ ficha.n_ficha }}
                  </td>
                  <td>
                    {{ ficha.crianca }}
                  </td>
                  <td>
                    {{ ficha.responsavel }}
                  </td>
                  <td>
                    {{ ficha.telefone }}
                  </td>
                  <td>
                    <form id='{{ficha.id}}' action='' method='POST'>
                      {% csrf_token %}
                      <input type='hidden' name='_submit_ficha_id_status' value='{{ficha.id}}' />
                      <div class='switch'>
                        <label>
                          {% if ficha.ativo %}
                            <input id='id_ficha_{{ficha.id}}' type='checkbox' checked='' />
                          {% else %}
                            <input id='id_ficha_{{ficha.id}}' type='checkbox' />
                          {% endif %}
                          <span class='lever'></span>
                        </label>
                      </div>
                    </form>
                  </td>
                </tr>
<script type='text/javascript'>
// <![CDATA[
                  $(function(){
                    $('#id_ficha_{{ficha.id}}').on('change',function(){
                      $('#{{ficha.id}}').submit();
                    });
                  });
// ]]>
</script>
              {% empty %}
                <tr>
                  <td>
                    <h5>Ainda não tem criança nesta sala</h5>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'central/ficha_form.html' %}
{% endblock %}
