{% extends 'base.html' %}
{% block main %}
  {% if messages %}
    {% for message in messages %}
      <div class='card-panel  {{ message.tags }}'>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class='row'>
    <div class='col s12 m12 l12 app'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title black-text'>
            <h4 id='id_object' class='center'>
              {{ object }}
              Data: {% now 'd/m/Y'%}
              <a class='right btn-floating btn-large waves-effect waves-light green modal-trigger' href='#ficha_new'>
                <i class='fa fa-plus'></i>
              </a>
              <br />
              <div class='input-field'>
                <input id='search' class='validate' type='text' />
                <label for='search'>Pesquisar pelo número da ficha ou nome da criança ou responsável...</label>
              </div>
            </h4>
          </span>
          <div class='row'>
            <div id='fichas'>
              {% include 'central/table_ficha.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'central/ficha_form.html' %}
<script type='text/javascript'>
// <![CDATA[
    $( document ).ready( function() {
      $('#search').keyup(function(){
        q = $('#search').val();
        $.get('{% url 'ajax_search_ficha'%}', {'q': $('#search').val(), 'sala_id': {{ object.id }}}, function(data){
          $('#fichas').html(data);
        })
      });
    });
// ]]>
</script>
{% endblock %}
