- load static
%link{:href => "{% static 'material/css/materialize.css' %}", :rel => "stylesheet"}
%link{:href => "{% static 'material/css/jquery.datetimepicker.css ' %}", :rel => "stylesheet"}
%link{:href => "{% static 'material/css/forms.css ' %}", :rel => "stylesheet"}/
%link{:href => "{% static 'css/style.css'%}", :rel => "stylesheet", :type => "text/css"}
%link{:href => "{% static 'css/main.css'%}", :rel => "stylesheet", :type => "text/css"}
%link{:href => "{% static 'font-awesome/css/font-awesome.css'%}", :rel => "stylesheet"}