- load staticfiles
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title Central de Atendimento - JC
    - include 'includes/css.html'
    - include 'includes/js.html'
  %body
    - include 'includes/navbar.html'
    .container
      - block main
    - include 'includes/footer.html'