- extends 'base.html'
- block main
  - if messages
    - for message in messages
      .card-panel.{ :class => "{{ message.tags }}" }
        = message
  .row
    .col.s12.m12.l12.app
      .card
        .card-content
          %span.card-title.black-text
            %h4#id_object.center
              = object
              Data: {% now 'd/m/Y'%}
              %a.right.btn-floating.btn-large.waves-effect.waves-light.green.modal-trigger{:href => "#ficha_new"}
                %i.fa.fa-plus
              %br
              .input-field
                %input#search.validate{:type => "text"}/
                %label{:for => "search"} Pesquisar pelo número da ficha ou nome da criança ou responsável...
          .row
            #fichas
              - include 'central/table_ficha.html'
  - include 'central/ficha_form.html'
  :javascript
    $( document ).ready( function() {
      $('#search').keyup(function(){
        q = $('#search').val();
        $.get('{% url 'ajax_search_ficha'%}', {'q': $('#search').val(), 'sala_id': {{ object.id }}}, function(data){
          $('#fichas').html(data);
        })
      });
    });