{% extends 'base.html' %}
{% block main %}
  <div class='row'>
    <div class='col s12 m12 l12 app'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title black-text'>Salas</span>
          <div class='row'>
            {% for sala in list_salas %}
              <div class='app-item col s6 m6 l4'>
                <a class='waves-effect waves-light green-text text-lighten-2 grey lighten-2' href='{% url 'sala_detail' sala.slug %}'>
                  <i class='fa fa-4x fa-users'></i>
                  <h6 style='truncate word-wrap: break-word;'>
                    {{ sala }}
                  </h6>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
